<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Lista de {{contexto}}</h1>
    <ul>
        
        <li><a href="{% url 'productos' 'Maderas' %}">{{btn_maderas}}></a></li>   
        <li><a href="{% url  'productos' 'Guitarras' %}">{{btn_guitarras}}></a></li>  
        <li><a href="{% url 'productos' 'Cuerdas' %}">{{btn_cuerdas}}></a></li>  
    </ul>
    
</body>
</html>